# {{ ansible_managed }}

<VirtualHost {{ opera_dnsui_server_ip }}:80>
	ServerName {{ opera_dnsui_servername | default('unconfigured_opera_dnsui_servername') }}
	{% for alias in opera_dnsui_serveraliases -%}
	ServerAlias {{ alias }}
	{% endfor -%}

	Redirect permanent / https://{{ opera_dnsui_servername | default('unconfigured_opera_dnsui_servername') }}/
</VirtualHost>

<VirtualHost {{ opera_dnsui_server_ip }}:443>
	ServerName {{ opera_dnsui_servername | default('unconfigured_opera_dnsui_servername') }}
	{% for alias in opera_dnsui_serveraliases -%}
	ServerAlias {{ alias }}
	{% endfor -%}
	ServerAdmin {{ opera_dnsui_serveradmin | default('admin@unconfigured_opera_dnsui_servername') }}

	SSLEngine on
	SSLProtocol all -SSLv2 -SSLv3
	SSLCipherSuite ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:ECDHE-RSA-DES-CBC3-SHA:ECDHE-ECDSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA
	SSLHonorCipherOrder on
	SSLCertificateFile /etc/ssl/certs/{{ opera_dnsui_servername }}.pem
	SSLCertificateKeyFile /etc/ssl/private/{{ opera_dnsui_servername }}.key

	Header always set Strict-Transport-Security "max-age=15768000; includeSubDomains"

	DocumentRoot {{ opera_dnsui_dir }}/public_html
	{% if opera_dnsui_ldapurl is defined -%}
	<Directory {{ opera_dnsui_dir }}/public_html>
		AuthType Basic
		AuthName "DNS UI"
		AuthBasicProvider ldap
		AuthLDAPURL {{ opera_dnsui_ldapurl }}
		{% if opera_dnsui_ldapbind_dn is defined and opera_dnsui_ldapbind_pass is defined -%}
		AuthLDAPBindDN {{ opera_dnsui_ldapbind_dn }}
		AuthLDAPBindPassword {{ opera_dnsui_ldapbind_pass }}
		{% endif -%}
		Require {{ opera_dnsui_ldap_require }}
		AllowOverride none
	</Directory>
	{% endif -%}

	DirectoryIndex init.php
	FallbackResource /init.php
	AllowEncodedSlashes NoDecode
</VirtualHost>

